.row
  .small-12.columns.center
    %h1 Spoken Code
    %p Whisper Sweet Codings
    %br
    %br
  .small-12.columns
    %h2 Commands
    %ul
      .small-6.columns
        %li Dollar
        %li Hash *word*
        %li Dot *word*
        %li Add Class *word*
        %li Remove Class *word*
        %li Semicolon
      .small-6.columns
        %li $(
        %li '#word')
        %li '.word')
        %li .addClass('word')
        %li .removeClass('word')
        %li ;
  .small-12.columns
    %h2 Example Usage
    %ul
      .small-6.columns
        %li "Dollar, Hash Container, Add Class Bagels"
        %li "Dollar, Dot Header, Remove Class Monkey, Semicolon"
      .small-6.columns
        %li $('#container').addClass('bagels')
        %li $('.header').removeClass('monkey');
  .small-12.columns
    %h2.center Demo
    .center
      %iframe{width: '420', height: '315', src: '//www.youtube.com/embed/HQPId1OtDVc', frameborder: '0', allowfullscreen: ''}
