.row
  .small-12.columns.center
    %h1 Spoken Code
    %p Whisper Sweet Codings
    %br
    %br
  .small-12.columns
    %h2 Commands*
    %ul
      .small-6.columns
        %li Dollar
      .small-6.columns
        %li $(
      .small-6.columns
        %li Hash <word>
      .small-6.columns
        %li '#<word>')
      .small-6.columns
        %li Add Class <word>
      .small-6.columns
        %li .addClass('<word>')
      .small-6.columns
        %li Remove Class <word>
      .small-6.columns
        %li .removeClass('<word>')
      .small-6.columns
        %li Semicolon
      .small-6.columns
        %li ;
    %p
      * Currently, only support for jQuery.
